{% extends "index.html" %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 id="dashboard-name" class="h2">
      Report5 - Air Conditioners on Groundhog Day
    </h1>
  </div>
    <!--Add your content here-->
    <table id="report5-table1">
    </table>
    
    <a href="{{ url_for('get_main_menu') }}">Back to Main Menu</a>
</main>
{% endblock %}